@charset "EUC-KR";
*{
	box-sizing: border-box;
}
.container{
	width: 1140px;
	padding: 0;
	position: relative;
}
th{
	text-align: center;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
