@charset "EUC-KR";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	min-width: 1140px;
	padding: 0;
	position: relative;
}
table{
	text-align: center;
	font-size: 11px;
	height: 8px;
	line-height: 5px;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}
.absolute{
	position: absolute;
}
.color-black{
	color: black;
}