<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.LeagueDAO">
  <select id="getSchedule" resultType="kr.green.portfolio.vo.ScheduleVO">
    select * from schedule where roundNum = #{roundNum} and leagueNum = #{leagueNum}
  </select>
  <select id="getTeamTable" resultType="kr.green.portfolio.vo.TeamVO">
    select * from teams where leagueNum = #{leagueNum} order by points desc
  </select>
  <select id="getGoals" resultType="kr.green.portfolio.vo.GoalStandingsVO">
    select * from goalstandings order by goals desc limit 5
  </select>
  <select id="getAssists" resultType="kr.green.portfolio.vo.AssistStandingsVO">
    select * from assiststandings order by assists desc limit 5
  </select>
  <select id="getRating" resultType="kr.green.portfolio.vo.RatingStandingsVO">
    select * from ratingstandings order by rating desc limit 5
  </select>
  <select id="getSeasonList" resultType="String">
    select season from leaguepart where league = #{league}
  </select>
</mapper>