<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.PremierLeagueDAO">
  <select id="getSchedule" resultType="kr.green.portfolio.vo.PremierLeagueVO">
    select * from schedule where roundNum = #{roundNum}
  </select>
</mapper>